html, body, #app {
    height: 100%;
}

body {
    background-image: url('../michael-held-HvIdCs2aU-k-unsplash.jpg') ;
    background-size: cover;
    background-attachment: local, scroll;
}

#app {
    display: flex;
    flex-direction: column;
}

.image-size {
    width: 75%;
}

/* Kui modaal on nähtav, rakenda järgmised stiilid */
.modal.fade.show.d-block {
    background-color: rgba(0, 0, 0, 0.38); /* Tausta värv koos läbipaistvusega */
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    z-index: 1050; /* Z-indeks määrab modaalakna kihi järjekorra */
    left: 0; /* Vasak paigutus on null */
    top: 0; /* Ülemine paigutus on null */
    width: 100%; /* Laius on 100% */
    height: 100%; /* Kõrgus on 100% */
    overflow: hidden; /* Peidab ülejäänud sisu, mis ei mahu alale */
}

/* Rakenda järgmised stiilid modaalakna sisule */
.modal-dialog {
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    top: 10%; /* Ülemine paigutus on 10% */
    left: 40%; /* Vasak paigutus on 50% */
    transform: translateX(-50%); /* Teisendab X-telje piki -50% võrra */
}